<div class="container">
    <div class="profile-img" data-aos="fade-right" data-aos-delay="300">
        <img src="images/profile.jpg" alt="">
    </div>
    <div class="about-details" data-aos="fade-left" data-aos-delay="300">
        <div class="about-heading">
            <h1>About</h1>
            <h6>Myself</h6>
        </div>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis, ante eu sollicitudin
            malesuada, magna nibh tempor mi, ac dictum neque nibh eget turpis. Nunc non erat sed neque
            vestibulum lobortis quis et dui. Maecenas non orci bibendum, fermentum neque at, efficitur neque.
            Nam vulputate nunc et facilisis fermentum. Morbi posuere sagittis massa faucibus suscipit.
            Suspendisse potenti. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
            turpis egestas. Nulla sed feugiat mauris. Nunc cursus mi ac metus iaculis pretium. Integer facilisis
            auctor felis ac ultrices. Praesent vitae diam non ipsum vehicula hendrerit. Fusce ultricies neque a
            rhoncus consequat. Nulla et tempor mauris. Ut elementum facilisis interdum. Fusce dictum eu est vel
            imperdiet. Donec ut semper nulla, a posuere felis.
        </p>
        <div class="social-media">
            <ul class="nav-list">
                <li>
                    <a href="https://www.youtube.com/watch?v=qxrMpCMdYwk&list=PLmWfsOOJKWbMnwPueZm_-6Tj6q86Uqn2t&index=17&ab_channel=TaylorSwift-Topic"
                        class="icon-link">
                        <i class="fa fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=qxrMpCMdYwk&list=PLmWfsOOJKWbMnwPueZm_-6Tj6q86Uqn2t&index=17&ab_channel=TaylorSwift-Topic"
                        class="icon-link">
                        <i id="instagramIcon" class="fa fa-instagram"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=qxrMpCMdYwk&list=PLmWfsOOJKWbMnwPueZm_-6Tj6q86Uqn2t&index=17&ab_channel=TaylorSwift-Topic"
                        class="icon-link">
                        <i class="fa fa-youtube"></i></a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=qxrMpCMdYwk&list=PLmWfsOOJKWbMnwPueZm_-6Tj6q86Uqn2t&index=17&ab_channel=TaylorSwift-Topic"
                        class="icon-link">
                        <i class="fa fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=qxrMpCMdYwk&list=PLmWfsOOJKWbMnwPueZm_-6Tj6q86Uqn2t&index=17&ab_channel=TaylorSwift-Topic"
                        class="icon-link">
                        <i class="fa fa-linkedin"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.youtube.com/watch?v=qxrMpCMdYwk&list=PLmWfsOOJKWbMnwPueZm_-6Tj6q86Uqn2t&index=17&ab_channel=TaylorSwift-Topic"
                        class="icon-link">
                        <i class="fa fa-github"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>