<div class="container">
    <div class="section-header">
        <h1>Contact</h1>
        <h6>Let's work together</h6>
    </div>
    <form action="" method="POST">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter your name ..." required>
        <label for="email">Email</label>
        <input type="text" id="email" name="email" placeholder="Enter your email address ..." required>
        <label for="subject">Subject</label>
        <textarea cols="10" rows="10" type="text" id="subject" name="subject" placeholder="Hi Supriya! ..." required></textarea>
        <input type="submit" id="submit" value="submit">
    </form>
</div>