<div class="container">
    <div class="section-header">
        <h1>Contact</h1>
        <h6>Let's work together</h6>
    </div>
    <form action="https://formspree.io/f/mvowywke" method="POST" data-aos="fade-up" data-aos-delay="300">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter your name ..." required>
        <label for="_replyto">Email</label>
        <input type="email" id="email" name="_replyto" placeholder="Enter your email address ..." required>
        <label for="subject">Subject</label>
        <textarea cols="10" rows="10" type="text" id="subject" name="subject" placeholder="Hi Supriya! ..."
            required></textarea>
        <input type="submit" id="submit" value="Submit">
    </form>
</div>