<div class="container">
    <div class="section-header">
        <h1>Work Experience</h1>
        <h6>Past and current jobs</h6>
    </div>

    <div class="timeline" data-aos="fade-down" data-aos-delay="300">
        <ul>
            <li class="date" data-date="2012 - Present">
                <h1>Google</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis, ante eu sollicitudin
                    malesuada, magna nibh tempor mi, ac dictum neque nibh eget turpis. Nunc non erat sed neque
                </p>
            </li>
            <li class="date" data-date="1999 - 2012">
                <h1>Facebook</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis, ante eu sollicitudin
                    malesuada, magna nibh tempor mi, ac dictum neque nibh eget turpis. Nunc non erat sed neque
                </p>
            </li>
            <li class="date" data-date="1993 - 1999">
                <h1>Microsoft</h1>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis, ante eu sollicitudin
                    malesuada, magna nibh tempor mi, ac dictum neque nibh eget turpis. Nunc non erat sed neque
                </p>
            </li>
        </ul>
    </div>
</div>