<div class="container">
    <div class="section-header">
        <h1>Portfolio</h1>
        <h6>View some of my recent work</h6>
    </div>

    <div class="portfolio-item">
        <div class="portfolio-img has-margin-right" data-aos="fade-right" data-aos-delay="300">
            <img src="/images/portfolioItem1.jpg" alt="">
        </div>
        <div class="portfolio-description" data-aos="fade-left" data-aos-delay="600">
            <h6>Web Developement</h6>
            <h1>Coffee Bag Website</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis, ante eu sollicitudin
                malesuada, magna nibh tempor mi, ac dictum neque nibh eget turpis. Nunc non erat sed neque
            </p>
            <a href="#" class="cta">View details</a>
        </div>
    </div>
    <div class="portfolio-item">
        <div class="portfolio-description has-margin-right" data-aos="fade-right" data-aos-delay="900">
            <h6>Mobile Developement</h6>
            <h1>Peace Application</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis, ante eu sollicitudin
                malesuada, magna nibh tempor mi, ac dictum neque nibh eget turpis. Nunc non erat sed neque
            </p>
            <a href="#" class="cta">View details</a>
        </div>
        <div class="portfolio-img" data-aos="fade-left" data-aos-delay="1200">
            <img src="/images/portfolioItem2.jpg" alt="">
        </div>
    </div>
    <div class="portfolio-item">
        <div class="portfolio-img has-margin-right" data-aos="fade-right" data-aos-delay="1500">
            <img src="/images/portfolioItem3.jpg" alt="">
        </div>
        <div class="portfolio-description" data-aos="fade-left" data-aos-delay="1800">
            <h6>Game Developement</h6>
            <h1>Horror Game</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis, ante eu sollicitudin
                malesuada, magna nibh tempor mi, ac dictum neque nibh eget turpis. Nunc non erat sed neque
            </p>
            <a href="#" class="cta">View details</a>
        </div>
    </div>
</div>