<div class="container">
    <div class="section-header">
        <h1>Services</h1>
        <h6>What I can do for you</h6>
    </div>

    <div class="portfolio-item">
        <div class="portfolio-description">
            <h6>Web Developement</h6>
            <h1>Coffee Bag Website</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis, ante eu sollicitudin
                malesuada, magna nibh tempor mi, ac dictum neque nibh eget turpis. Nunc non erat sed neque
            </p>
            <a href="#" class="cta">View details</a>
        </div>
        <div class="portfolio-img">
            <img src="/images/portfolioItem1.jpg" alt="">
        </div>
    </div>
    <div class="portfolio-item">
        <div class="portfolio-description">
            <h6>Mobile Developement</h6>
            <h1>Peace Application</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis, ante eu sollicitudin
                malesuada, magna nibh tempor mi, ac dictum neque nibh eget turpis. Nunc non erat sed neque
            </p>
            <a href="#" class="cta">View details</a>
        </div>
        <div class="portfolio-img">
            <img src="/images/portfolioItem2.jpg" alt="">
        </div>
    </div>
    <div class="portfolio-item">
        <div class="portfolio-description">
            <h6>Game Developement</h6>
            <h1>Horror Game</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed facilisis, ante eu sollicitudin
                malesuada, magna nibh tempor mi, ac dictum neque nibh eget turpis. Nunc non erat sed neque
            </p>
            <a href="#" class="cta">View details</a>
        </div>
        <div class="portfolio-img">
            <img src="/images/portfolioItem3.jpg" alt="">
        </div>
    </div>
</div>