<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- GOOGLE FONTS-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@1,700&display=swap" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:wght@800&display=swap" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap" rel="stylesheet" />

    <!--Social media icons Font-Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    {{!-- <script src="https://kit.fontawesome.com/ 612fa9335b.js"></script> --}}
    <script src="https://kit.fontawesome.com/760552c65c.js" crossorigin="anonymous"></script>


    <!--Bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!--    INDEX.CSS   -->
    <link rel="stylesheet" href="/style/home.css" />
</head>

<body>
    <header>
        <div class="menu-toggler">
            <div class="bar start half"></div>
            <div class="bar"></div>
            <div class="bar end half"></div>
        </div>
        <nav class="top-nav">
            <ul class="nav-list">
                <li>
                    <a href="/home" class="nav-link">Home</a>
                </li>
                <li>
                    <a href="/about" class="nav-link">About</a>
                </li>
                <li>
                    <a href="/services" class="nav-link">Services</a>
                </li>
                <li>
                    <a href="/portfolio" class="nav-link">Portfolio</a>
                </li>
                <li>
                    <a href="/experience" class="nav-link">Experience</a>
                </li>
                <li>
                    <a href="/contact" class="nav-link">Contact</a>
                </li>
            </ul>
        </nav>
        <div class="landing-text">
            <h1 class="landing-text-main-header">
                Supriya Mutharasan
            </h1>
            <h6>C++ | Android | Web Developer</h6>
        </div>
    </header>
    
    {{{body}}}
    <footer class="copyright">
        <div class="up" id="up">
            <i class="fas fa-chevron-up"></i>
            <p>&copy; 2020 Supriya Mutharasan</p>
        </div>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
</body>

</html>