@media screen and (max-width:768px) {
    body {

        background: url('/images/sitebg2.jpg') no-repeat center fixed;
        background-size: cover;
    }

    .landing-text h1 {
        font-size: 15rem;
    }

    .landing-text h6 {
        font-size: 1.7rem;
    }

    .nav-list {
        flex-direction: column;

    }

    .nav-list li {
        margin: 2rem 0;

    }

    .nav-link {
        font-size: 4.5rem;
    }

    .about-heading h1 {
        font-size: 8rem;
    }

    .section-header h1 {
        font-size: 3rem;
    }

    .about-details .nav-list {
        flex-direction: row;
    }

    .about-details li {
        margin: 0 2rem;
    }

    .icon-container {
        width: 7rem;
        height: 7rem;
    }

    .icon-container i {
        font-size: 4rem;
    }

    .timeline ul {
        margin: 0 0 0 auto;
    }

    .timeline .date::before {
        left: -21.5rem;
    }

    .timeline .date::after {
        left: -7.9rem;
    }
}

@media screen and (max-width:600px) {

    .menu-toggler{
        top:2rem;
        right:2rem;
    }

    .landing-text h1{
        font-size:8rem;
    }
    .landing-text h6{
        font-size:1.4rem;
        
    }
    .nav-link{
        font-size:3.5rem;
    }
    
    .about .container{
        flex-direction: column;
    }
    .portfolio-item{
        flex-direction: column;
    }

    .profile-img{
        margin:0 0 7rem 0;
    }
    .portfolio-img{
        margin:0 0 2rem 0;
        order: 1;
    }
    .portfolio-description{
        margin:0;
        order:2;

    }

    .timeline p{
        font-size:1.6rem
    }
    
    .timeline .date::before {
        font-size:1.4rem
    }
    
    form{
        width:100%;
    }
    .up{
        right:2rem;
    }

}

@media screen and (max-width:1130px) {
    #menu-nav-list{
        flex-direction: column;
    }
}